@page
@{
    <h2>Du har redan anmält dig till utlottningen!</h2>

    <br />
    <p>Man kan endast anmäla sig en gång till varje utlottning.</p>
    <br />
    <br />
    <a asp-area="" asp-controller="Anmalan" asp-action="Index">Klicka här för att se listan med utlottningar</a>

}
