@model Lotteri.Models.LottoItemModel

@{
    ViewData["Title"] = "Detaljer";
}

<h2>Vinnare lottad</h2>
<div>
    @Html.DisplayNameFor(model => model.Winner)
    @Html.DisplayFor(model => model.Winner)
</div>
<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>