@{
    ViewData["Title"] = "LotteriApplikation";
}

<div>

    <table class="table">
       <tbody>
                 <tr>
                     <td>
                         <a asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                         <a asp-area="" asp-controller="Lotteri" asp-action="Index">Lotteri</a>
                         <a asp-area="" asp-controller="Anmalan" asp-action="Index">Anmälan</a>
                     </td>
                </tr>
        </tbody>
    </table>

</div>
