@{
    ViewData["Title"] = "LotteriApplikation";
}

<div>
    <h2>Hej och välkommen till Lotteriapplikationen</h2>

    <p>I denna applikation kan du skapa utlottningar av diverse saker. </p>
    <p>Användare kan sedan anmäla sig för utlottning och sedan drar appliktionen en slumpmässig vinnare</p>
    <br />
    <table class="table">
       <tbody>
                 <tr>
                     <td>
                         <a asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                         <a asp-area="" asp-controller="Lotteri" asp-action="Index">Lotteri</a>
                         <a asp-area="" asp-controller="Anmalan" asp-action="Index">Anmälan</a>
                     </td>
                </tr>
        </tbody>
    </table>

</div>
